@charset "utf-8";
.container{
  /* background: #4e54c8; */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
/* 백그라운드 이미지 */


.scroll-progress{
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: rgb(75, 187, 221);
  z-index: 9999;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 99;
  background-color: transparent;
}
.gnb{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding-top: 16px;
  align-items: center;
}
.header-logo{
  width: 150px;
}
.navbar ul{
  display: flex;
  color: #222;
}
.navbar ul li{
  font-weight: bold;
  margin-right: 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.navbar ul li:hover{
  color: #bad5f3;
}
.navbar ul li.active{
  color: #007bff;
}
.navbar ul li:last-child{
  margin-right: 0px;
}

/* 헤더 */


.first-section{
  width: 70%;
  height: 100vh;
  padding-top: 150px;
  margin: 0 auto;
  border-bottom: 2px dashed #007bff;
}
.about{
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,.25);
}
.about .box-wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .box{
  width: 80%;
  height: 85%;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px black;
}
.about .box img{
  border-radius: 50%;
}
.about-text-wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text-wrap .about-text-box{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 24px;
}
.about .text-box{
  color: #222;
  font-weight: bold;
  font-size: 1.7rem;
  height: 4em;
}
.about-me{
  color: #222;
}

/* 첫번째 섹션 끝*/

.second-section{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  border-bottom: 2px dashed #007bff
}
.second-section h2{
  padding-top: 2em;
  text-align: center;
  font-size: 2.5rem;
}
.second-section ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10em;
}
.second-section ul li{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.second-section ul li:last-child{
  margin-bottom: 0px;
}
.skills-name{
  width: 11.25em;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ability-bar{
  background-color: #eee;
  width: 50em;
  border-radius: 5px;
  height: 2em;
}
.ability-gage{
  width: 80%;
  height: 100%;
}
.Js,
.React{
  width: 70%;
}
.Ts{
  width: 40%;
}
.Sc{
  width: 60%;
}
.Gh{
  width: 50%;
}
.ability-percent{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  justify-content: flex-end;
  border-radius: 0 15px 15px 0;
  background: linear-gradient(90deg,#36D1DC,#5B86E5);
}
.percent{
  color: #fff;
  font-size: 1.2rem;
}


/* 두번째 섹션 끝*/

.third-section{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  border-bottom: 2px dashed #007bff;
}
.project-text{
  width: 100%;
  margin: 0 auto;
}
.project-text h2{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
}
.box-container{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  gap: 8px;
}
.flip{
  width: 33.333%;
  height: 37.5em;
  display: flex;
  flex-direction: column;
}
.img-box{
  width: 100%;
  height: 10em;
}
.box-wrap .text{
  width: 100%;
}
.flipped .card{
  transform: rotateY(180deg);
}
.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,.08);
  border-radius: 5%;
}
.card-front,
.card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-back{
  transform: rotateY(180deg);
}
.text-wrap{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-top: 2em;
}
.text-wrap .text h2{
  text-align: center;
  font-family: 'BookkMyungjo-Bd', sans-serif;
}
.text-wrap p{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.text-wrap .intro{
  font-size: 1.1rem;
}
.text-wrap .addintro{
  font-size: 0.9rem;
}
.back-container{
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.back-wrap{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.back-container .period,
.back-container .tech,
.back-container .work{
  font-weight: 600;
}
.back-container .tech p span,
.back-container .work p span{
  font-weight: normal;
  font-size: 0.9rem;
}
.button-group{
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}
.button-group button{
  border: 1px solid;
  outline: none;
  background: transparent;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
}


/* 세번째 섹션 끝 */

.fourth-section{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}
.fourth-section h2{
  font-size: 2.5rem;
  padding-top: 2em;
  text-align: center;
}
.post-box{
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,.08);
  margin-top: 2em;
  margin-bottom: 2em;
}
.post-box p{
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.post{
  width: 80%;
  height: 80%;
}
.contact-icon{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.contact-icon a{
  transition: 0.8s;
}
.contact-icon a:hover{
  scale: 1.1;
}
.contact-icon i {
  font-size: 6rem;
  color: #222;
}