@charset "utf-8";
.container{
  height: 100vh;
}
.gnb{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding-top: 16px;
  align-items: center;
}
.header-logo{
  width: 150px;
}
.navbar ul{
  display: flex;
  color: #222;
}
.navbar ul li{
  font-weight: bold;
  margin-right: 12px;
}
.navbar ul li:last-child{
  margin-right: 0px;
}

.first-section{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5%;
}
.about{
  display: flex;
  justify-content: space-evenly;
}
.about .box{
  width: 600px;
  height: 600px;
  background-color: blue;
  border-radius: 50%;
}
.about-text-wrap{
  display: flex;
  flex-direction: column;
}
.about .text-box{

  color: #222;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30%;
  width: 450px;
  height: 130px;
}
.about-me{
  width: 450px;
  color: #222;
  margin-top: 10%;
}


.second-section{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  /* background-color: aquamarine; */
}
.skills{
  width: 70%;
  margin: 0 auto;
}
.skills-text{
  margin-bottom: 24px;
}
.skills-text p,
.tool-text p{
  font-size: 44px;
  font-weight: bold;
}
.icon-container{
  display: flex;
  gap: 20px;
}
.icon-wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icon-box1,
.icon-box2,
.icon-box3,
.icon-box4,
.icon-box5,
.icon-box6{
  display: flex;
}
.icon-box1 img,
.icon-box2 img,
.icon-box3 img,
.icon-box4 img,
.icon-box5 img,
.icon-box6 img{
  width: 120px;
  height: 120px;
}
.explanation{
  /* display: none; */
}

.tool-text{
  margin-top: 16px;
}

.tool-icon1,
.tool-icon2,
.tool-icon3{
  display: flex;
}

.tool-wrap img{
  width: 120px;
  height: 120px;
}